#div4
{
width:50%;
height:600px;
background-image : linear-gradient(lime,red);
float:left;
}
#div5
{
 width : 400;
 height : 300px;
 border-radius :100%;
  background-color : cyan;
  box-shadow : 5px 5px 6px violet;
  float : center;
}
